.status-active {
    background-color: #dcfce7;
    color: #166534 !important;
    padding: 2px 4px;
    font-family: var(--font-mono);
    text-transform: lowercase;
}

.status-inactive {
    background-color: #fee2e2;
    color: #991b1b !important;
    padding: 2px 4px;
    font-family: var(--font-mono);
    text-transform: lowercase;
}